node_modules/
dist/
build/
*.log
*.env
*.lock
*.tmp
*.cache
*.bak
*.swp
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/
*.log
*.env
*.lock
*.tmp
*.cache
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.iml

android/**/build/
android/**/*.h
android/**/*.modulemap
android/**/*.swift

ios/**/build/
ios/**/*.h
ios/**/*.modulemap
ios/**/*.swift
package-lock.json
ios/coinswap_ffi.xcframework